<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Energy Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <canvas height="435px" id="graph">
    </canvas>
  </ion-card>

  <div class="container">
    <div class="wrapper">
      <a class="primary" routerLink="/activity">
        <ion-icon name="bicycle"></ion-icon>
        Activity
      </a>
    </div>
    <div class="wrapper">
      <a class="secondary" routerLink="/history">
        <ion-icon name="albums-outline"></ion-icon>
        History
      </a>
      <a class="secondary" routerLink="/settings">
        <ion-icon name="cog"></ion-icon>
        Settings
      </a>
    </div>
  </div>
</ion-content>
