<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{date}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <canvas height="230px" id="graph">
    </canvas>
  </ion-card>

  <ion-card *ngFor="let activity of activities">
    <ion-card-title>Recent Activity</ion-card-title>
    <div class="wrapper">
      <span class="header">
        {{
          activity.mode.toUpperCase() +
          (activity.mode === 'eat' ? 'ING' : '')
        }}
      </span>
    </div>
    <span class="net">
      {{ 
        activity.energy
      }}
    </span>
    <span *ngIf="activity.note" class="note">
      {{ 
        activity.note[0].toUpperCase() + 
        activity.note.slice(1)
      }}
    </span>
    <span class="date">
      {{
        activity.date + ' | ' + activity.time
      }}
    </span>
  </ion-card>

  <div class="container">
    <div class="wrapper">
      <a class="primary" routerLink="/activity">
        <ion-icon name="bicycle"></ion-icon>
        Activity
      </a>
    </div>
    <div class="wrapper">
      <a class="secondary" routerLink="/history">
        <ion-icon name="albums-outline"></ion-icon>
        History
      </a>
      <a class="secondary" routerLink="/settings">
        <ion-icon name="accessibility-outline"></ion-icon>
        Profile
      </a>
    </div>
  </div>
</ion-content>
